
nz-header {
  background: #fff;
  padding: 0;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 100vh;
}

nz-footer {
  text-align: center;
}

.logo {
  padding: 1rem;
  color: #fff;
}

ng-slider {
  flex: 0 0 80px; 
  max-width: 80px; 
  min-width: 80px; 
  width: 80px;
}