<div class="row">
    <ng-container *ngFor="let item of blogsData">
        <div class="col-xl-6 col-12 my-info-card p-3">
            <nz-card style="width:100%;" [nzTitle]="info_title" [nzExtra]="info">
                <span>{{item.description}}</span>

            </nz-card>
            <ng-template #info_title>
                <span class="d-flex align-items-center">
                    <span nz-icon nzType="edit" nzTheme="outline" class="me-2"></span>
                    {{item.name}}
                </span>
            </ng-template>

            <ng-template #info>
                <a [routerLink]="[item.slug]" routerLinkActive="router-link-active">
                    <span nz-icon nzType="right" nzTheme="outline"></span>
                </a>
            </ng-template>
        </div>
    </ng-container>
</div>