
.blog__cta{
    cursor: pointer;
}

.blog__description {
    padding-left: 5px;
    box-shadow: -5px 0px 0px 0px var(--cs-color-text);
    text-align: justify;
}

.blog__name{
    font-family: var(--cs-header-font);
    box-shadow: inset   0 -0.75rem #c8e6ff;
}