<div class="container px-3" *ngIf="route$ | async">
    <ng-container *ngIf="blogData">
        <div class="row border-bottom p-3">
            <div class="col-lg-9">
                <h1 class="fs-2 blog__name">{{blogData.name}}</h1>
                <span class="fs-6 cs__text-2">by <strong>{{blogData.author}}</strong>, at {{blogData.created_at |
                    date:'short'}}
                </span>
                <h3 class="blog__description mt-2 fs-6 cs__text-2">{{blogData.description}}</h3>
            </div>
            <div class="col-lg-3" *ngIf="userInfo$ | async">
                <ng-container *ngIf="userData && userData.base_user?.id == blogData.author_info.author_id">
                    <span nz-icon nzType="edit" nzTheme="outline" [routerLink]="'edit'" class="ms-1 mt-1"></span>
                </ng-container>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-1 border-sm-bottom d-flex justify-content-center p-lg-0 p-2">
                <div class="d-flex flex-lg-column flex-sm-row">
                    <div class="blog__cta me-3 mt-3">
                        <span class="fs-5">
                            <span nz-icon nzType="like" nzTheme="outline" (click)="like()"></span>
                            {{blogData.like_count}}
                        </span>
                    </div>
                    <!-- <div class="blog__cta me-3 mt-3">
                        <i class="fa-regular fa-star fs-5" pTooltip="Super Like"></i>
                    </div> -->
                    <div class="blog__cta mt-3">
                        <span class="fs-5">
                            <span nz-icon nzType="comment" nzTheme="outline" (click)="triggerSideBar()"></span>
                            {{blogData.replies.length}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <quill-view-html [content]="blogData.html_string" theme="snow"></quill-view-html>
            </div>
            <div class="col-lg-3 border-start" *ngIf="relatedPost">
                <p class="ms-1 fs-5">Table of contents ({{tocData.length}})</p>
                <app-toc [tocData]="tocData"></app-toc>
                <p class="ms-1 fs-5 mt-3">Same Topic ({{relatedPost.length}})</p>
                <app-related-post [relatedData]="relatedPost"></app-related-post>
            </div>
        </div>
    </ng-container>
</div>