<div class="container px-3" *ngIf="route$ | async">
    <ng-container *ngIf="blogData">
        <div class="row border-bottom p-3">
            <div class="col-lg-8 ms-auto">
                <h1 nz-typography class="blog__name">
                    {{blogData.name}}
                    <ng-container *ngIf="userData && userData.base_user?.id == blogData.author_info.author_id">
                        <span nz-icon nzType="edit" nzTheme="outline" [routerLink]="'edit'" class="ms-1 mt-1"></span>
                    </ng-container>
                </h1>

                <span class="fs-6 cs__text-2 ms-auto">by
                    <nz-avatar nzIcon="user" nzSize="small" nzSrc="{{blogData.author_info.avatar}}"></nz-avatar>
                    <strong class="ms-1">{{blogData.author}}</strong>, at {{blogData.created_at |
                    date:'short'}}
                </span>
                <h3 nz-typography class="blog__description mt-2 fs-6">{{blogData.description}}</h3>
            </div>
            <div class="col-lg-2 ms-auto" *ngIf="userInfo$ | async">
                <img nz-image width="100%" style="max-height: 180px; object-fit: contain;"
                    nzSrc="{{blogData.thumbnail_image_url}}" alt="" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-1 border-sm-bottom d-flex justify-content-center p-lg-0 p-2">
                <div class="d-flex flex-lg-column flex-sm-row">
                    <div class="blog__cta me-3 mt-3">
                        <span class="fs-5" (click)="like()">
                            <span nz-icon nzType="like" nzTheme="outline"></span>
                            {{blogData.like_count}}
                        </span>
                    </div>
                    <!-- <div class="blog__cta me-3 mt-3">
                        <i class="fa-regular fa-star fs-5" pTooltip="Super Like"></i>
                    </div> -->
                    <div class="blog__cta mt-3">
                        <span class="fs-5" (click)="triggerSideBar()">
                            <span nz-icon nzType="comment" nzTheme="outline"></span>
                            {{blogData.replies.length}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <quill-view-html [content]="blogData.html_string" theme="snow"></quill-view-html>
            </div>
            <div class="col-lg-3 border-start" *ngIf="relatedPost">
                <p class="ms-1 fs-5">Table of contents ({{tocData.length}})</p>
                <app-toc [tocData]="tocData"></app-toc>
                <p class="ms-1 fs-5 mt-3">Same Topic ({{relatedPost.length}})</p>
                <app-related-post [relatedData]="relatedPost"></app-related-post>
            </div>
        </div>
    </ng-container>
</div>

<nz-drawer [nzClosable]="false" [nzVisible]="isVisibleSidebar" [nzPlacement]="visibleSidebarPosition" nzTitle="Comment"
    (nzOnClose)="isVisibleSidebar = false" [nzSize]="'large'">
    <ng-container *nzDrawerContent>
        <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="onSubmitComment()"
            *ngIf="isAllowAddComment">
            <div class="container-fluid">
                <nz-form-item ngClass="mb-2 row">
                    <nz-form-control nzErrorTip="Please input your name!">
                        <nz-input-group nzPrefixIcon="user">
                            <input formControlName="username" nz-input placeholder="your name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item ngClass="mb-2 row">
                    <nz-form-control nzErrorTip="Please write something here!">
                        <nz-textarea-count [nzMaxCharacterCount]="2000">
                            <textarea formControlName="content" nz-input rows="4"
                                placeholder="write any thing"></textarea>
                        </nz-textarea-count>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item ngClass="mb-2 row">
                    <div class="col-12">
                        <nz-form-control>
                            <button nz-button nzType="primary" [disabled]="!validateForm.valid"
                                class="ms-auto">Post</button>
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>
        </form>
        <app-blog-reply ngClass="mt-1" [input]="replyData" *ngIf="replyData"></app-blog-reply>
    </ng-container>
</nz-drawer>