<nz-divider></nz-divider>
<div class="row" *ngFor="let item of input">

    <div class="comment__header d-flex justify-content-start flex-row gap-2 align-items-center">
        <div class="comment__header__ava">
            <ng-container *ngIf="item.author; else elseTemplate">
                <nz-avatar nzIcon="user" nzSrc="{{item.author.avatar}}"></nz-avatar>
            </ng-container>
            <ng-template #elseTemplate>
                <nz-avatar nzText="{{item.author.user.slice(0,1)}}"
                    style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
            </ng-template>

        </div>
        <div class="comment__header__time">
            <span class="d-block">
                by <strong>{{item.author.user}}</strong>
            </span>
            <span>
                at {{ item.created_at | date: 'short': 'GMT+7'}}
            </span>
        </div>
    </div>

    <div class="comment__content fs-6 mt-3">
        {{item.content}}
    </div>

    <nz-divider></nz-divider>
</div>