<div class="container-fluid py-2 bg-white border-top border-bottom border-1">
    <div class="row">
        <div class="col-lg-4 col-12">
            <nz-breadcrumb nzSeparator=">">
                <nz-breadcrumb-item>
                    <span nz-icon nzType="home" [routerLink]="['/']"></span>
                </nz-breadcrumb-item>
                <ng-container *ngFor="let item of breadcrumb">
                    <nz-breadcrumb-item [routerLink]="[item.url]" *ngIf="item.url;else noUrlBreadCrum">
                        {{item.name}}
                    </nz-breadcrumb-item>
                    <ng-template #noUrlBreadCrum>
                        <nz-breadcrumb-item>
                            {{item.name}}
                        </nz-breadcrumb-item>
                    </ng-template>
                </ng-container>
            </nz-breadcrumb>
        </div>
        <div class="col-lg-8 cs__quote d-none d-lg-block">
            <nz-divider nzType="vertical"></nz-divider>
            <ng-container *ngIf="(quote$ | async)">
                <span class="ms-1" (click)="changeQuote()"> {{quoteData.text}} -- by
                    <strong>{{quoteData.author}}</strong>
                </span>
            </ng-container>
        </div>
    </div>
</div>