.mat-card-title{
    line-height: 110%;
}

:host ::ng-deep .p-inputtext {
    padding-left: 1rem;
}
:host ::ng-deep .p-chip-text {
    padding: 0 0.3rem;
}

:host ::ng-deep .bg-main {
    background-color: var(--green-200);
}
:host ::ng-deep .bg-cancel {
    background-color: var(--indigo-400);
}