<div class="container">
    <div class="row">
        <div class="col-xl-8 col-12 py-3">
            <ng-container *ngIf="(pageData$ | async) as pageData">
                <ng-container *ngIf="target_kw; else emptyKW">
                    <h4 nz-typography>Has {{data.length}} result(s) for kw: <strong>{{target_kw}}</strong></h4>
                    <nz-divider></nz-divider>
                    <nz-list class="demo-loadmore-list">
                        <nz-list-item *ngFor="let item of data">
                            <nz-list-item-meta>
                                <nz-list-item-meta-title>
                                    <nz-tag [nzColor]="item.style">
                                        {{item.type_name}}
                                    </nz-tag>
                                    <a routerLink="{{item.url}}">{{ item.name }}</a>
                                </nz-list-item-meta-title>
                                <nz-list-item-meta-description>
                                    <div class="d-flex">
                                        <span class="pe-2 me-auto">{{ item.detail }}</span>
                                        <picture *ngIf="item.thumbnail_image">
                                            <source srcset="{{item.thumbnail_image}}" media="(min-width: 600px)"
                                                height="120" width="120" style="object-fit: contain;" />
                                            <img src="{{item.thumbnail_image}}" alt="MDN" height="90" width="90"
                                                style="object-fit: contain;" />
                                        </picture>
                                    </div>
                                </nz-list-item-meta-description>
                            </nz-list-item-meta>
                        </nz-list-item>
                    </nz-list>
                </ng-container>
                <ng-template #emptyKW>
                    <nz-empty nzNotFoundContent="No data, please enter your Keyword in top-right conner!"></nz-empty>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>