<nav class="navbar navbar-expand-lg sticky-top navbar-dark border-bottom  navbar__content">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home"><img src="{{logoUrl}}" alt="logo" width="40" height="40"
                srcset=""></a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="input-group mt-2 d-none">
            <span class="border-secondary input-group-text bg-secondary text-white"><i
                    class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control border-secondary" style="color:#7a7a7a"
                placeholder="name, author, category,...">
            <button class="btn btn-secondary text-white">Search</button>
        </div>

        <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link mx-1 px-lg-2 text-uppercase header__item" [routerLinkActive]="['active']"
                        [routerLink]="'/'">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1 px-lg-2 text-uppercase header__item" [routerLinkActive]="['active']"
                        [routerLink]="'/product'">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1 px-lg-2 text-uppercase header__item" [routerLinkActive]="['active']"
                        [routerLink]="'/blog/all'">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-1 px-lg-2 text-uppercase header__item" [routerLinkActive]="['active']"
                        routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>