.mat-card-title{
    line-height: 110%;
}

.sticky-lg-top{
    top:10px
}

:host ::ng-deep .p-inputtext {
    padding-left: 1rem;
}
:host ::ng-deep .p-chip-text {
    padding: 0 0.3rem;
}

:host ::ng-deep .bg-main {
    background-color: var(--green-200);
}
:host ::ng-deep .bg-cancel {
    background-color: var(--indigo-400);
}

.section__filter {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: transparent;
}