<div class="container py-lg-3 px-lg-5" *ngIf="(allData$ | async)">
    <div class="row py-2">
        <div class="col-lg-2" *ngIf="!(isHandset$ | async) && (isLogin$ | async)">
            <button nz-button nzType="primary" [routerLink]="'/blog/new/'">Add blog</button>
        </div>
    </div>
    <div class="row pt-2 d-flex justify-content-between">
        <div class="col-xl-9 col-12 order-xl-1 order-2">
            <ng-container *ngFor="let item of blogData">
                <ng-container *ngIf="!(isHandset$ | async); else mobileCard">
                    <app-blog-card [blogData]="item" *ngIf="item.isShow"></app-blog-card>
                </ng-container>
                <ng-template #mobileCard>
                    <app-blog-card-mobile [blogData]="item" *ngIf="item.isShow"></app-blog-card-mobile>
                </ng-template>
            </ng-container>
        </div>
        <div class="col-xl-3 col-12 order-xl-2 order-1" [ngClass]="!(isHandset$ | async) ? 'border-left' : ''">
            <div class="row pb-3">
                <div class="col-lg-12 col-12">
                    <input style="width: 75%;" type="text" [(ngModel)]="filterKW" (keydown.enter)="filter()"
                        placeholder="wanna read?" nz-input class="mt-1" />
                    <button nz-button nzType="primary" class="ms-1 mt-1" (click)="filter()">Filter</button>
                </div>
                <!-- refactor this block later -->
                <div class="col-lg-12 col-12">
                    <nz-tag [nzColor]="'green'" class="mt-2 cs__pointer" (click)="filter('MT4')">#MT4</nz-tag>
                    <nz-tag [nzColor]="'green'" class="ms-1 mt-2 cs__pointer" (click)="filter('MT5')">#MT5</nz-tag>
                    <nz-tag [nzColor]="'green'" class="ms-1 mt-2 cs__pointer"
                        (click)="filter('autotrade')">#autotrade</nz-tag>
                    <nz-tag [nzColor]="'red'" class="ms-1 mt-2 cs__pointer" (click)=" clear()"
                        *ngIf="filterKW">#clear</nz-tag>
                </div>
            </div>
        </div>
    </div>

    <div class="row pt-3" *ngIf="isLoadMore">
        <div class="col-lg-9 col-12 d-flex justify-content-end">
            <button nz-button nzType="primary" (click)="loadMore()">Load more</button>
        </div>
    </div>
</div>