
.live__currency::before{
    content: "Real-time";
    background-color: white;
    border: 1px solid #eee;
    // opacity: 20%;
    height: 50px;
    width: 100%;
    display: block;
    position: relative;
    // top: 50px;
    z-index: 1;
    font-size: 1.5rem;
    padding: 4px 8px;
}

iframe {
    position: relative;
    top: -50px;
}

.live__currency {
    height: 220px;
    border-bottom: 1px solid #eee;
}

@media (max-width: 600px) {
    /* mobiles */
    .live__currency {
        height: 290px;
    }
    
}