<ng-container *ngIf="(pageData$ | async) as pageData">
    <div class="container p-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-3" *ngFor="let item of pageData.patternData">
                <nz-card nzHoverable style="width:100%" [nzCover]="coverTemplate" [nzActions]="[viewDetail,like]">
                    <nz-card-meta nzTitle="{{item.name}}" nzDescription="{{item.category}}"></nz-card-meta>
                </nz-card>
                <ng-template #coverTemplate>
                    <picture class="px-3 py-1">
                        <source media="(max-width:3650px)" srcset="{{item.chart_imgs[0].imgUrl}}">
                        <img src="" width="100%" height="auto" alt="">
                    </picture>
                </ng-template>
                <ng-template #viewDetail>
                    <span nz-icon nzType="eye" nzTheme="outline" (click)="viewChartInfo(item.id)"></span>
                </ng-template>
                <ng-template #like>
                    <span nz-icon nzType="heart" nzTheme="outline"></span>
                </ng-template>
            </div>
        </div>
    </div>

</ng-container>

<nz-drawer [nzClosable]="false" [nzVisible]="isShowChartInfoModal" [nzWidth]="modelSize" [nzHeight]="modelSize"
    [nzPlacement]="modalPlacement" nzTitle="Detail: {{selectedChart.name}} parttern"
    (nzOnClose)="isShowChartInfoModal = false">
    <ng-container *nzDrawerContent>
        <p nz-typography>{{selectedChart.description}}</p>
        <nz-divider></nz-divider>
        <!-- chart image -->
        <div class="chart__img" *ngFor="let item of selectedChart.chart_imgs">
            <h3 nz-typography>{{item.name}}</h3>

            <img nz-image class="px-5" nzSrc="{{item.imgUrl}}" alt="{{item.name}}" [responsive]="true">

            <p nz-typography class="mt-3">{{item.description}}</p>
            <nz-divider></nz-divider>
        </div>
    </ng-container>
</nz-drawer>