<div class="p-2 bg-white border-top border-bottom border-1">
    <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
            <span nz-icon nzType="home" [routerLink]="['/']"></span>
        </nz-breadcrumb-item>
        <ng-container *ngFor="let item of breadcrumb">
            <nz-breadcrumb-item [routerLink]="[item.url]" *ngIf="item.url;else noUrlBreadCrum">
                {{item.name}}
            </nz-breadcrumb-item>
            <ng-template #noUrlBreadCrum>
                <nz-breadcrumb-item>
                    {{item.name}}
                </nz-breadcrumb-item>
            </ng-template>
        </ng-container>

    </nz-breadcrumb>
</div>