<div class="container footer__top">
    <div class="col-lg-3 col-12">
        <div class="row">
            <h4 nz-typography>Contact</h4>
        </div>
        <div class="row">
            <a routerLink="/about">
                <span nz-icon nzType="info-circle" nzTheme="outline" class="me-1"></span>
                About us
            </a>
        </div>
        <div class="row">
            <a aria-disabled="true" role="link">
                <span nz-icon nzType="question-circle" nzTheme="outline" class="me-1"></span>
                FAQ
            </a>
        </div>

        <div class="row">
            <span nz-typography>
                <span nz-icon nzType="mail" nzTheme="outline" class="me-1"></span>
                support@fxeater.com
            </span>
        </div>
        <div class="row">
            <span nz-typography>
                <span nz-icon nzType="phone" nzTheme="outline" class="me-1"></span>
                (+84) 393 704 445
            </span>
        </div>
    </div>
</div>
<nz-divider></nz-divider>
<span>Made with ❤ by StormIT team</span>