<div class="article-item p-lg-3 p-2 mb-md-3 mb-2 bg-white">
    <div class="item-content">
        <a class="item-thumb" [routerLink]="'/blog/'+blogData.id+'-'+blogSlug" routerLinkActive="router-link-active">
            <div class="image" [ngStyle]="{'background-image': 'url(' + blogData.thumbnail_image_url + ')'}"></div>
        </a>
        <div class="item-body px-lg-3 px-2">
            <div class="item-body-content">
                <div class="description mb-2">
                    <ng-container *ngFor="let item of blogHagtag">
                        <nz-tag>
                            {{item}}
                        </nz-tag>
                    </ng-container>
                    <!-- {{blogData.sub_title}} -->
                </div>
                <h2 class="title fs-5">
                    <a [routerLink]="'/blog/'+blogData.id+'-'+blogSlug" class="link" title="{{blogData.name}}">
                        {{blogData.name}}
                    </a>
                </h2>
                <p class="description d-none d-lg-block">{{blogData.description}}</p>
            </div>
            <div class="row item-meta">
                <span class="col-lg-3 col-6 date">
                    <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
                    {{blogData.created_at | date:'short'}}
                </span>
                <span class="col-lg-3 col-6 author">
                    <span nz-icon nzType="fire" nzTheme="outline"></span>
                    by <strong>{{blogData.author}}</strong>
                </span>
                <span class="col-lg-2 col-3 views">
                    <span nz-icon nzType="eye" nzTheme="outline" [nzTheme]="'twotone'"></span>
                    {{blogData.view_count}}
                </span>
                <span class="col-lg-2 col-3 likes">
                    <span nz-icon nzType="like" nzTheme="outline"></span>
                    {{blogData.like_count}}
                </span>
                <span class="col-lg-2 col-3 comments">
                    <span nz-icon nzType="comment" nzTheme="outline"></span>
                    {{blogData.replies.length}}
                </span>
            </div>
        </div>
    </div>
</div>