<div class="article-item p-lg-3 p-3 mb-3 bg-light">
    <div class="item-content">
        <a class="item-thumb" [routerLink]="'/blog/'+blogData.id+'-'+blogSlug" routerLinkActive="router-link-active">
            <div class="image" [ngStyle]="{'background-image': 'url(' + blogData.thumbnail_image_url + ')'}"></div>
        </a>
        <div class="item-body px-lg-3">
            <div class="item-body-content">
                <h5 class="description">{{blogData.sub_title}}</h5>
                <h2 class="title">
                    <a [routerLink]="'/blog/'+blogData.id+'-'+blogSlug" class="link" title="{{blogData.name}}">
                        {{blogData.name}}
                    </a>
                </h2>
                <p class="description">{{blogData.description}}</p>
            </div>
            <div class="row item-meta">
                <span class="col-lg-3 col-6 date">
                    <i class="fa-regular fa-clock me-1"></i>{{blogData.created_at | date:'short'}}
                </span>
                <span class="col-lg-3 col-6 author">
                    <i class="fa-regular fa-pen-to-square me-1"></i> by <strong>{{blogData.author}}</strong>
                </span>
                <span class="col-lg-2 col-3 views">
                    <i class="fa-regular fa-eye me-1"></i>{{blogData.view_count}}
                </span>
                <span class="col-lg-2 col-3 likes">
                    <i class="fa-regular fa-heart me-1"
                        [ngStyle]="{color:'var(--pink-500)'}"></i>{{blogData.like_count}}
                </span>
                <span class="col-lg-2 col-3 comments">
                    <i class="fa-regular fa-comment me-1"
                        [ngStyle]="{color:'var(--blue-500)'}"></i>{{blogData.replies.length}}
                </span>
            </div>
        </div>
    </div>
</div>