<div class="navbar navbar-light bg-light navbar-expand-md px-3">
    <a routerLink="/" class="navbar-brand">
        <img src="{{logoUrl}}" alt="" width="40px" height="40px" ezimgfmt="rs rscb1 src ng ngcb1" loading="eager"
            srcset="" sizes="" importance="high" fetchpriority="high" class="rounded-circle">
    </a>
    <button class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false">
        <span nz-icon nzType="menu" nzTheme="outline"></span>
    </button>

    <div class="w-100">
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text" nz-input placeholder="search something..." [(ngModel)]="target_kw" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
            <nz-divider nzType="vertical"></nz-divider>
            <span nz-icon nzType="search" (click)="search()"></span>
        </ng-template>
    </div>

    <div class="navbar-collapse collapse" id="menu">
        <nz-divider></nz-divider>
        <ul class="navbar-nav ms-auto" style="list-style:none">
            <ng-container *ngFor="let item of navBarItem">
                <li class="nav-item text-center fs-6">
                    <a [routerLink]="[item.url]" routerLinkActive="router-link-active"
                        class="nav-link">{{item.text}}</a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>