<div class="container-fluid p-3">
    <div class="row">
        <div class="col-lg-4 col-12 justify-content-end">
            <ng-container *ngTemplateOutlet="homeNavi"></ng-container>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-lg-5 col-md-6 col-12 px-3">
            <ng-container *ngTemplateOutlet="homeCurPair"></ng-container>
        </div>
        <div class="col-lg-5 col-md-6 d-md-block d-none px-3">
            <ng-container *ngTemplateOutlet="homeCrypto"></ng-container>
        </div>
        <div class="col-lg-2 col-md-6 d-lg-block d-none ms-auto px-3">
            <img nz-image [responsive]="true" nzSrc="assets/public/grow_in_hand.jpg" alt="grow_in_hand">
            <p class="text-center">Future in your hand</p>
        </div>
    </div>
</div>

<ng-container *ngIf="(pageData$|async)">
    <div class="container-fluid pt-1">
        <div class="row">
            <div class="col-lg-5  px-3" *ngIf="currentPageData.blogData.length > 0">
                <nz-divider nzText="New post" nzOrientation="left"></nz-divider>
                <app-home-blog [blogsData]="currentPageData.blogData"></app-home-blog>
            </div>
            <div class="col-lg-5 px-3">
                <nz-divider nzText="Series" nzOrientation="left"></nz-divider>
                <div class="row">
                    <div class="col-12 mt-3" *ngFor="let item of currentPageData.seriesData">

                        <nz-card style="width:100%;" [nzActions]="[]">
                            <nz-card-meta nzTitle="{{item.name}}" nzDescription="{{item.description}}"
                                [nzAvatar]="avatarTemplate">
                            </nz-card-meta>

                            <nz-divider></nz-divider>
                            <ng-container *ngFor="let blog of item.blogs">
                                <span nz-typography>
                                    <a [routerLink]="[genSlug(blog)]">{{blog.name}}</a>
                                </span>
                            </ng-container>

                        </nz-card>
                        <ng-template #avatarTemplate>
                            <nz-avatar nzSrc="{{item.author_info.avatar}}"></nz-avatar>
                        </ng-template>
                    </div>
                </div>
                <!-- <app-home-blog [blogsData]="pageData[1]"></app-home-blog> -->
            </div>
            <div class="col-lg-2 col-md-6 d-lg-block d-none ms-auto px-3">
                <img nz-image [responsive]="true" nzSrc="assets/public/calculate_head.jpg" alt="calculate_head">
                <p class="text-center">Train your mind</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-12 px-3">
                <nz-divider nzText="Learn Chart Patterns" nzOrientation="left"></nz-divider>
                <div class="row">
                    <ng-container *ngFor="let item of currentPageData.patternData">
                        <div class="col-lg-3 col-md-6 col-12 mt-3">
                            <app-chart-pattern-card [item]="item"></app-chart-pattern-card>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #homeNavi>
    <app-home-easy-access></app-home-easy-access>
</ng-template>

<ng-template #homeCurPair>
    <app-home-news></app-home-news>
</ng-template>

<ng-template #homeCrypto>
    <app-home-crypto></app-home-crypto>
</ng-template>