<div class="container-fluid p-3">
    <div class="row">
        <div class="col-lg-8 col-12">
            <ng-container *ngTemplateOutlet="homeNews"></ng-container>
        </div>
        <div class="col-lg-4 col-12">
            <ng-container *ngTemplateOutlet="homeNavi"></ng-container>
        </div>
    </div>
</div>

<ng-container *ngIf="(blogsData$|async) as blogsData ">
    <div class="container-fluid pt-1" *ngIf="blogsData.length > 0">
        <nz-divider nzText="New post" nzOrientation="left"></nz-divider>
        <app-home-blog [blogsData]="blogsData"></app-home-blog>
    </div>
</ng-container>


<ng-template #homeNavi>
    <app-home-easy-access></app-home-easy-access>
</ng-template>

<ng-template #homeNews>
    <app-home-news></app-home-news>
</ng-template>