@import "../node_modules/ng-zorro-antd/ng-zorro-antd.dark.css";


:root{
    --cs-color-bg: #fef6e4;
    --cs-color-text: #172c66;
    --cs-color-primary: #f3d2c1;
    --cs-color-secondary: #8bd3dd;
    --cs-color-tertiary:#f582ae;
    --cs-color-hightlight: #fef6e4;
    --cs-color-stroke: #001858;


    --cs-main-font: 'Montserrat', sans-serif;
    --cs-second-font: 'Open Sans', sans-serif;
    --cs-header-font:'Playfair Display', serif;
}

.cs__bg-text {
    background-color: var(--cs-color-text);
}


.cs__text-1 {
    font-family: var(--cs-main-font);
}

.cs__text-2 {
    font-family: var(--cs-second-font);
}

.cs__text-3 {
    font-family: var(--cs-header-font);
}

.cs__pointer	{
    cursor: pointer;
}

nz-content {
    margin: 0px !important;
}

.inner-content {
    padding: 0 0 24px 0 !important;
}

.ql-snow .ql-editor img{
  height: auto !important;
}


.ql-container {
  font-size: 1rem !important;
}

/* Set dropdown font-families */

.ql-toolbar .ql-font span[data-value="montserrat"]::before {
    font-family: var(--cs-main-font);
    content: 'montserrat' !important;
  }
  
.ql-toolbar .ql-font span[data-value="opensans"]::before {
    font-family:var(--cs-second-font);
    content: 'opensans' !important;
}

.ql-toolbar .ql-font span[data-value="playfair"]::before {
    font-family: var(--cs-header-font);
    content: 'playfair' !important;
}

/* Set content font-families */

.ql-font-montserrat {
    font-family: var(--cs-main-font) !important;
}

.ql-font-opensans {
    font-family: var(--cs-second-font) !important;
}

.ql-font-playfair {
    font-family: var(--cs-header-font) !important;
}

svg { vertical-align: baseline; }

